body {
    background-color: forestgreen;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90dvh;
    padding-bottom: 12px;
}

img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
}

.place {
    width: 5.5vw;
    aspect-ratio: 691 / 1056;
    border: 2px solid #ffffff;
    overflow: unset;
    position: relative;
    margin: 0 12px;
}

section {
    display: flex;
}

#places-container {
    flex-direction: column;
    justify-content: space-between;
}

#foundation-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5%;
    margin-bottom: 20px;
}

#active-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#active-section .place {
    margin: 0 24px;
}

#deck-section {
    padding-left: 10%;
    padding-right: 70%;
    justify-content: space-around;
}

.msg-box {
    width: 650px;
    max-height: 300px;
    border: 2px solid #132a13;
    border-radius: 15px;
    background-color: rgb(65, 184, 65);
    position: absolute;
    left: 25%;
    right: 60%;
    top: 20%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px 35px 15px 35px;
}

.msg-box button {
    width: 150px;
    height: 30px;
    background-color: forestgreen;
    border-radius: 7%;
}

#welcome-box p {
    text-align: justify;
}

#confirmation-box.hidden-content,
.hidden-content {
    display: none;
}

#newgamelink {
    color: white;
    background: none;
    border: none;
    font-size: 17px;
}

#newgamelink:hover {
    color: black;
}

@media (max-width: 1023px) {
    #main-container {
        /* height: 40dvh; */
        justify-content: flex-start;
    }

    #places-container {
        margin-top: 64px;
        margin-bottom: 200px;
    }
    
    #foundation-section {
        margin-bottom: 5vh;
    }


}